.wishlist-form,
.wishlist-redirect {
  height: 100%;
}

.wishlist-button,
.wishlist-redirect-button {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border: none;
  cursor: pointer;
}

.wishlist-button__icon-add-to-wishlist {
  display: flex;
}

.wishlist-button__icon-remove-from-wishlist {
  display: flex;
}

.wishlist-button__icon-loading .loader--spinner {
  border: 1.175px solid black;
  border-bottom-color: transparent;
}
